:root{
    --cor--de-fundo: #FFFFFF;
    --cor-primaria: #1D1E25;
    --cor-secundaria: #3870FF;
    --cor-neutra: #7E8492;
    --cor-de-fundo-neutra: #FAFBFA;
    --fonte: 'Inter';
    --fonte-sora: 'Sora';
    --fonte-poppins: 'Poppins';
    --fonte-dms-sans: 'DM Sans';
    --fonte-archivo: 'Archivo';
}

@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz_wght.ttf');
}

@font-face {
    font-family: 'Sora' ;
    src: url(fonts/Sora-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'Poppins';
    src: url(fonts/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: 'DM Sans';
    src: url(fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Archivo';
    src: url(fonts/Archivo-VariableFont_wdth\,wght.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

html{
    max-width: 100%;
}

body{
    background-color: var(--cor--de-fundo);
    color: #1D1E25;
    max-width: 100%;
}

img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}

ul li{
    list-style: none;
}

section{
    padding: 0 1rem;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding: 1rem 1rem;
    width: 100%;
}

.menu-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-mobile #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.menu-desktop{
    display: none;
}

.hero #linhas-de-fundo{
    display: none;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    padding: 1rem 0;
}

.hero-content .titulo-desc h1{
    font-size: 40px;
}
.hero-content .titulo-desc span{
    color: var(--cor-secundaria);
}
.hero-content .titulo-desc #texto-hero{
    color: var(--cor-neutra);
    margin: 1rem 0.5rem 1rem 0rem;
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.hero-image{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.hero-image p{
    display: none;
}

.events{
    display: none;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.botoes #btn{
    border: 0;
    background-color: var(--cor-secundaria);
    width: 143px;
    height: 49px;
    color: var(--cor--de-fundo);
    font-weight: 600;
}

.botoes #video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid #C2C2C2;
    background-color: var(--cor--de-fundo);
    color: var(--cor-secundaria);
    font-weight: 800;
    width: 180px;
    height: 49px;
}

.botoes svg{
    width: 18px;
    height: 18px;
}
.avaliacoes{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.avaliacoes p{
    font-size: 16px;
    font-weight: 600;
}

#imagem-hero-mob{
    align-self: center;
    justify-self: center;
}

#imagem-hero-desk{
    display: none;
}

.logos #shipbob{
    display: none;
}

.logos #slack{
    display: none;
}

.logos{
    margin-top: 3.5rem;
    background-color: var(--cor-secundaria);
    padding: 2rem 0rem;
}
.logos img{
    width: 100%;
    height: 100%;
}
.logos-container{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap:  nowrap;
    gap: 1.1rem;
    justify-content: center;
    overflow: hidden;
    
}

.logos #netflix{
    width: 44px;
    height: 14px;
}

.logos #google{
    width: 48px;
    height: 16px;
}

.logos #airbnb{
    width: 50px;
    height: 15px;
}

.logos #unicef{
    width: 54px;
    height: 13px;
}

.logos #adobe{
    width: 52px;
    height: 14px;
}

.logos #microsoft{
    width: 60px;
    height: 11px;
}

.conteudo .container{
    display: flex;
    flex-direction: column !important;
    gap: 1rem ;
    margin-top: 4rem;
}


.insights-container h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
    letter-spacing: 1px;
    line-height: 32px;
}

.insights-container {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    margin-top: 1rem;
    text-align: justify;
    margin-right: 1.4rem;
    line-height: 26px;
}

.insights-container .imagem{
    width: 100%;
    height: auto;
    align-self: center;
}

.insights {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bloco-insights{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}


.bloco-insights .insights h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
    margin: 0rem 0rem 0.5rem 0rem;
}

.bloco-insights .insights p {
  font-weight: 600;
    font-size: 18px;
    color: var(--cor-primaria);
}

.bloco-insights .insights span {
  font-size: 16px;
  color: var(--cor-neutra);
}

.eventos .container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.eventos h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
}
.eventos p{
    font-size: 16px;
    color: var(--cor-neutra);
    line-height: 26px;
}

.titulo-desc-img-mob{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#eventos-img-desktop {
    display: none !important;
}

.lista-eventos{
    width: 82%;
}

.lista-eventos ul{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-eventos li{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.lista-eventos span{
    font-size: 16px;
    color: var(--cor-primaria);
    font-weight: 500;
    line-height: 26px;
}

.texto-video{
    margin-top: 3rem;
    background-color: var(--cor-secundaria);
    padding: 3rem 1rem 6rem;
}

.texto-video .container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    text-align: center;
}

.texto-video h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor--de-fundo);
    line-height: 120%;
}
.texto-video p{
    font-size: 16px;
    color: var(--cor-de-fundo-neutra);
    line-height: 26px;
    font-weight: 300;
}
.content-botao-video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 20rem;
}
.content-botao-video #video{
    width: 45px;
    height: 45px;
}
.content-botao-video #reuniao-mob{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content-botao-video #reuniao-mob{
    display: none;
}

.pessoas .container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 15rem 0.5rem 5rem 0.5rem;
}

.pessoas .container .titulo-numero-desc{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pessoas .titulo-desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pessoas .titulo-desc h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
}
.pessoas .titulo-desc span{
    font-size: 16px;
    font-weight: 450;
    color: var(--cor-neutra);
}

.numero-desc{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
.numero h2{
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 700;
    color: var(--cor-secundaria);
}
.numero-desc .desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.desc p{
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-primaria);
}

.desc span{
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-neutra);
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards-mob{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1.5rem;
}

.cards-mob p{
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-neutra);
    line-height: 160%;
}

.cards-desktop{
    display: none;
}

.pessoas .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pessoas .container .botao-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 54px;
    border-radius: 50px;
    background-color: var(--cor-secundaria);
    color: var(--cor--de-fundo);
    font-weight: 600;
}

.pessoas .container .botao-mobile #btn {
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
}

.pessoas .container .botao-desktop{
    display: none;
}

.card-individual .container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-profissional{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-individual .container .comentario h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-primaria);
    line-height: 120%;
    margin-top: 1rem;
}

.texto-botao{
    display: flex;;
    flex-direction: column;
    gap: 1rem;
}
.texto-botao h3{
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-primaria);
}

.texto-botao p{
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-neutra);
}

.setas{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.preco-planos .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.preco-planos{
    margin-top: 7rem;
}

#btn-preco {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 1rem; 
    width: 5rem;
    font-size: 14px;
    border-radius: 20px;
    background-color: #3870ff13;
    color: var(--cor-primaria);
    font-weight: 500; 
    border: none;
    box-sizing: border-box;
}

.precos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.precos h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.5px;
}

.precos p {
    font-size: 16px;
    color: var(--cor-neutra);
    font-weight: 400;
    line-height: 26px;
}

.precos #btn {
    background-color: var(--cor-secundaria);
    color: var(--cor--de-fundo);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    width: 187px; 
}

.essencial{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--cor-de-fundo-neutra);
}
.essencial h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
}

.essencial p{
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-neutra);
}

.essencial #btn{
    background-color: var(--cor-secundaria);
    color: var(--cor--de-fundo);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    width: 239px; 
}

.container-preco {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.preco {
    text-align: left;
}

.preco span {
    text-decoration: line-through;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 0.25rem;
}

.preco h3 {
    display: inline;
    font-size: 1.5rem;
    font-weight: 600;
}

.preco h4 {
    display: inline;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.25rem;
}

.preco p {
    margin-top: 1rem !important;
    font-weight: 400;
    font-size: 18px;
    color: var(--cor-neutra);
}

.incluso h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.incluso ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.incluso li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.incluso li img {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
}

.pro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--cor-de-fundo-neutra);
}

.pro .descricao{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}

.pro .descricao h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
}

.pro .descricao p{
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-neutra);
}

.pro #btn{
    background-color: var(--cor-secundaria);
    color: var(--cor--de-fundo);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    width: 239px; 
}

.premium{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--cor-de-fundo-neutra);
}

.premium .descricao{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}

.premium .descricao h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
}

.premium .descricao p{
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-neutra);
}

.premium #btn{
    background-color: var(--cor-secundaria);
    color: var(--cor--de-fundo);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    width: 239px; 
}

.footer{
    background-color: var(--cor-secundaria);
    padding: 3rem 1rem ;
    color: var(--cor--de-fundo);
    margin: 3rem 0rem 0rem 0rem;
}

.footer .container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer .container .titulo h2{
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer .container .localizacao-email{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer .container .localizacao-email .localizacao,
.footer .container .localizacao-email .email{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.footer .container #logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.footer .container .footer-social{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .container .footer-social .linha1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer .container .footer-social p{
    font-size: 16px;
    font-weight: 400;
}

.footer .container .footer-social .linha2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer .container .footer-social-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer .container .direitos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer .container .direitos hr{
    background-color: #7E8492;
    border: 0;
    height: 1px;
    margin-right: 1rem;
}

.footer .container .direitos .termos{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-weight: 400;
    font-size: 16px;
}

.footer .container .direitos .copyright{
    font-size: 16px;
    font-weight: 300;
}


@media (min-width: 1024px) {
    .menu-mobile, #imagem-hero-mob, #texto-hero{
        display: none;
    }

    .header{
        padding: 2rem;
        width: 100%;
    }

    .menu-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu-desktop #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
    .menu-desktop .opcoes-menu ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .menu-desktop .opcoes-menu ul li {
        font-size: 16px;
        font-weight: 500;
        color: var(--cor-primaria);
    }

    .menu-desktop .opcoes-menu ul li span{
        color: var(--cor-secundaria);
        font-weight: 700;
    }

    .menu-desktop .login-menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    
    .menu-desktop .login-menu ul a{
        font-size: 16px;
        font-weight: 600; 
        font-family: var(--fonte-sora) !important;
        color: var(--cor-primaria);
    }
    .menu-desktop .login-menu ul #btn-singup{
        border: 1px solid;
        padding: 1rem 1.5rem;
        background-color: var(--cor--de-fundo);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-desktop .login-menu ul #btn{
        border: 0;
        background-color: var(--cor--de-fundo);
        width: 100px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imagem-hero-desk{
        display: block;
        align-self: center;
        justify-self: center;
    }

    .hero{
        display: flex;
        justify-content: space-evenly;
    }


    .hero-content{
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem 0rem 3rem;
        align-items: center;
        width: 35%;
    }
    .hero-content .titulo-desc h1{
        font-size: 72px;
        line-height: 120%;
        letter-spacing: -2.9px;
        margin-left: 2.5rem;
        text-align: left;
        font-family: var(--fonte-poppins);
    }

    .hero-content .botoes{
        display: flex;
        flex-direction: row;
        justify-self: start;
        align-self: flex-start;
        gap: 2rem;
        margin: 2rem 0rem 0rem 0rem;
    }

    .hero-content .botoes #btn{
        border: 0;
        background-color: var(--cor-secundaria);
        width: 194px;
        height: 54px;
        color: var(--cor--de-fundo);
        font-weight: 600;
    }
    .hero-content .botoes #video{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        border: 1px solid #C2C2C2;
        background-color: var(--cor--de-fundo);
        color: var(--cor-secundaria);
        font-weight: 800;
        width: 194px;
        height: 54px;
    }

    .hero-content .avaliacoes{
        display: flex;
        flex-direction: row;
        justify-self: start;
        align-self: flex-start;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .hero-image{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        order: -1;
        width: 45%;
        padding: 0 2rem 
    }
    .hero-image p{
        display: block;
        font-size: 18px;
        color: var(--cor-neutra);
        line-height: 32px;
        font-weight: 500;
        text-align: left;
    }

    .events{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        gap: 2rem;
        padding: 0 3rem;
    }

    .image-events{
        width: 80%;
        height: auto;
    }

    .parte-cima-events{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .parte-cima-events .image-events img{
        width: 100%;
        height: auto;
    }

    .parte-cima-events p{
        color: var(--cor-neutra);
        font-weight: 700;
        font-size: 16px;
    }

    .parte-baixo-events{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1rem;
    }
    .parte-baixo-events .texto-pbe{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .parte-baixo-events .texto-pbe span{
        color: var(--cor-secundaria);
        font-weight: 700;
        font-family: var(--fonte-dms-sans);
        font-size: 20px;
        letter-spacing: -1px;
    }
    .parte-baixo-events .texto-pbe p{
        font-weight: 700;
        font-family: var(--fonte-dms-sans);
        font-size: 20px;
        letter-spacing: -1px;
    }

    /* daqui para cima está pronto o desktop */
    
    .logos{
        margin-top: 3.5rem;
        background-color: var(--cor-secundaria);
        padding: 4rem 0rem;
    }
    
    .logos .logos-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    
    .logos .logos-container img{
        width: 146px !important;
        height: 94px !important;
    }

    .logos-container #slack{
        display: block;
        width: 140px !important;
        height: 36px !important;
    }

    .logos-container #shipbob{
        display: block;
        width: 112px !important;
        height: 36px !important;
    }

    .logos-container #netflix{
        display: block;
        width: 103px !important;
        height: 32px !important;
    }

    .logos-container #google{
        display: block;
        width: 112px !important;
        height: 36px !important;   
    }

    .logos-container #airbnb{
        display: block;
        width: 116px !important;
        height: 36px !important;
        
    }

    .logos-container #unicef{
        display: block;
        width: 139px !important;
        height: 43px !important;
    }
    .logos-container #adobe{
        display: block;
        width: 122px !important;
        height: 32px !important;
    }

    .logos-container #microsoft{
        display: block;
        width: 140px !important;
        height: 26px !important;
    }
    .conteudo .container{
        display: flex;
        flex-direction: row !important;
        padding: 3rem 0rem;
        gap: 2rem;
    }

    .conteudo .container .insights-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .conteudo .container .insights-container h2{
        font-size: 56px;
        font-weight: 600;
        color: var(--cor-primaria);
        letter-spacing: -2px;
        line-height: 130%;
        text-align: left;
    }

    .conteudo .container .insights-container .bloco-insights{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;

    }

    .conteudo .container .insights-container .bloco-insights .insights{
        width: 280px;
        height: 161px;
        text-align: left;
    }

    .conteudo .container .insights-container .bloco-insights .insights h3{
        font-size: 56px;
        font-weight: 800;
        color: var(--cor-secundaria);
        font-family: var(--fonte-poppins);
        margin-bottom: 1.5rem;
    }

    .conteudo .container .insights-container .bloco-insights .insights p{
        font-size: 18px;
        font-weight: 600;
        color: var(--cor-primaria);
    }

    .conteudo .container .insights-container .bloco-insights .insights span{
        font-size: 16px;
        font-weight: 450;
        color: var(--cor-neutra);
        line-height: 26px;
    }

    .conteudo .container .insights-container .imagem{
        width: 100%;
        height: auto;
        align-self: center;
    }


    #eventos-img-desktop {
        display: flex !important;
        width: 100%;
        height: auto;
    }
    #eventos-img-mob {
        display: none;
    }

    .titulo-desc-img-mob{
        display: none;
    }

    .eventos .container{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        align-items: center;
        gap: 4rem !important;
        padding: 4rem 0rem;
    }

    .eventos .container .imagem{
        width: 50%;
        height: auto;
    }

    .eventos .container .lista-eventos{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .eventos .container .lista-eventos .titulo-desc-img-desktop{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: left;
    }

    .eventos .container .lista-eventos .titulo-desc-img-desktop h2{
        font-size: 56px;
        font-weight: 600;
        color: var(--cor-primaria);
        line-height: 120%;
        letter-spacing: -0.6px;
    }

    .eventos .container .lista-eventos .titulo-desc-img-desktop p{
        font-size: 18px;
        font-weight: 450;
        color: var(--cor-neutra);
        line-height: 32px;
    }

    .eventos .container .lista-eventos br{
        display: none;
    }

    .eventos .container .lista-eventos ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1.5rem;
        list-style: none;
    }

    .eventos .container .lista-eventos li{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .eventos .container .lista-eventos span{
        font-size: 18px;
        color: var(--cor-primaria);
        font-weight: 600;
        line-height: 26px;
    }

    .eventos .container .lista-eventos #li-1{
        order: -5;
    }
    .eventos .container .lista-eventos #li-2{
        order: -1;
    }
    .eventos .container .lista-eventos #li-3{
        order: 4;
    }
    .eventos .container .lista-eventos #li-4{
        order: 7;
    }
    .eventos .container .lista-eventos #li-5{
        order: -3;
    }
    .eventos .container .lista-eventos #li-6{
        order: 3;
    }
    .eventos .container .lista-eventos #li-7{
        order: 5;
    }
    .eventos .container .lista-eventos #li-8{
        order: 9;
    }

    /* Esta section precisa arrumar no desktop e no mobile */

    .texto-video .container .content-botao-video #reuniao-mob{
        display: none;
    }

    /* ======================================================= */
    
    .pessoas .container{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 4rem 0rem;
    }

    .pessoas .container .cards .cards-desktop{
        display: block;
    }

    .pessoas .container .titulo-numero-desc .botao-desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 142px;
        height: 54px;
        border-radius: 50px;
        background-color: var(--cor-secundaria);
        color: var(--cor--de-fundo);
        font-weight: 600;
    }
    .pessoas .container .titulo-numero-desc .botao-desktop #btn {
        border: 0;
        background-color: transparent;
        color: inherit;
        font-size: 16px;
        font-weight: 600;
    }


}