:root{
    --cor--de-fundo: #FFFFFF;
    --cor-primaria: #1D1E25;
    --cor-secundaria: #3870FF;
    --cor-neutra: #7E8492;
    --cor-de-fundo-neutra: #FAFBFA;
    --fonte: 'Inter';
}

@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz_wght.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

html{
    max-width: 100%;
}

body{
    background-color: var(--cor--de-fundo);
    color: #1D1E25;
    max-width: 100%;
}

img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}

ul li{
    list-style: none;
}

.container{
    width: 100%;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding: 1rem 0;
    width: 100%;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop{
    display: none;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.hero-content .titulo-desc h1{
    font-size: 40px;
}
.hero-content .titulo-desc span{
    color: var(--cor-secundaria);
}
.hero-content .titulo-desc p{
    color: var(--cor-neutra);
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 400;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.botoes #btn{
    border: 0;
    background-color: var(--cor-secundaria);
    width: 143px;
    height: 49px;
    color: var(--cor--de-fundo);
    font-weight: 600;
}

.botoes #video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid #C2C2C2;
    background-color: var(--cor--de-fundo);
    color: var(--cor-secundaria);
    font-weight: 800;
    width: 180px;
    height: 49px;
}

.botoes svg{
    width: 18px;
    height: 18px;
}
.avaliacoes{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.avaliacoes p{
    font-size: 16px;
    font-weight: 600;
}

.logos{
    margin-top: 3.5rem;
    background-color: var(--cor-secundaria);
    padding: 2rem 0rem;
}
.logos img{
    width: 100%;
    height: 100%;
}
.logos-container{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap:  nowrap;
    gap: 1.1rem;
    justify-content: center;
    overflow: hidden;
    
}

.logos #netflix{
    width: 44px;
    height: 14px;
}

.logos #google{
    width: 48px;
    height: 16px;
}

.logos #airbnb{
    width: 50px;
    height: 15px;
}

.logos #unicef{
    width: 54px;
    height: 13px;
}

.logos #adobe{
    width: 52px;
    height: 14px;
}

.logos #microsoft{
    width: 60px;
    height: 11px;
}

.conteudo .container{
    display: flex;
    flex-direction: column;
    gap: 1rem ;
    margin-top: 4rem;
}


.conteudo h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
}
.insights-container {
    display: flex;
    gap: 2rem; 
    margin-top: 1rem;
    text-align: justify;
    margin-right: 1.4rem;
    line-height: 26px;
}

.insights {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.insights h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
    margin: 0rem 0rem 0.5rem 0rem;
}

.insights p {
  font-weight: 600;
    font-size: 18px;
    color: var(--cor-primaria);
    
}

.insights span {
  font-size: 16px;
  color: var(--cor-neutra);
}

/*tem que arrumar isso no css e no html*/
/* a partir daqui */

.eventos .container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.eventos h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
}
.eventos p{
    font-size: 16px;
    color: var(--cor-neutra);
    line-height: 26px;
}

.titulo-desc-img{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.lista-eventos{
    width: 82%;
}

.lista-eventos ul{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-eventos li{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.lista-eventos span{
    font-size: 16px;
    color: var(--cor-primaria);
    font-weight: 600;
    text-align: left;
    line-height: 26px;
}

.texto-video{
    margin-top: 3rem;
    background-color: var(--cor-secundaria);
    padding: 3rem 1rem;
}

.texto-video .container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.texto-video h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor--de-fundo);
    line-height: 120%;
}
.texto-video p{
    font-size: 16px;
    color: var(--cor-de-fundo-neutra);
    line-height: 26px;
    font-weight: 300;
}
.content-botao-video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.content-botao-video #video{
    position: absolute;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.content-botao-video #reuniao{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* ATE AQUI */

.pessoas .container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0;
}

.pessoas .titulo-desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pessoas .titulo-desc h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-primaria);
}
.pessoas .titulo-desc span{
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-neutra);
}

.numero-desc{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.numero h2{
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: var(--cor-secundaria);
}
.numero-desc .desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.desc p{
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-primaria);
}

.desc span{
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-neutra);
}